[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
dev = "python3 -m src.composify -d"
build = ""
publish = ""

[packages]
rapptz-asqlite = "*"
pyyaml = "*"
python-dotenv = "*"
colorama = "*"
inquirer = "*"

[dev-packages]

[requires]
python_version = "3.11"
