[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
init = "pip install -e src/composify"
dev = "python3 -m src.composify -d -vv"
prod = "python3 -m src.composify"
build = "python3 setup.py sdist bdist"
clean = "python3 setup.py clean --all"
publish = ""

[packages]
rapptz-asqlite = "*"
pyyaml = "*"
python-dotenv = "*"
colorama = "*"
inquirer = "*"
GitPython = "*"
halo = "*"

[dev-packages]
pipfile = "*"
twine = "*"

[requires]
python_version = "3.11"
